html,body{
    height: 100%;
}
body *{
    box-sizing: border-box;
    font-family:Verdana,Tahoma,Arial,Sans-serif;
    font-size:0.95em;
    -moz-box-sizing:border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
br, hr{
    clear: both;
}

h5{
    clear: both;
    font-weight: normal;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
}
div >span{
    float: left;
    line-height: 28px;
    padding: 2px 6px;
    text-align: right;
    width: 40%;
}
div >span >span{
    border-bottom: dashed 1px #52449C;
    cursor: help;
    padding-bottom: 1px;
}
input[type="text"],
input[type="password"],
.right{
    float: right;
}
input[type="submit"]{
    clear: both;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    padding: 6px 20px;
}
ul b{
    display: block;
    margin: auto auto 5px -30px;
}
#form > div{
    margin: auto;
    max-width: 400px;
    padding:10px;
    width: 50%;
}
#form > div:after{
    clear: both;
    content: " ";
    display: block;
}
#form 
    input[type="text"],
#form 
    input[type="password"]{
    border: solid 1px #9090BE;
    padding: 3px 6px;    
}
#form 
    input[type="text"],
#form 
    input[type="password"],
#pass_warning{
    margin: -2px auto 6px;
    padding: 4px;
    width: 60%;
}
#pass_warning{
    display: none;
    background-color: #FF0;
}
#lang *{
    text-align: center;
    width: auto;
}
.clearBoth{
    clear: both;
}
.invalid, .invalids{
    background-color: bisque;
    border-color: red !important;
}
.txtRed{
    color: red;
}
.sign{
    background-color: #EAE4FA;
    border-radius: 8px;
    border: solid 2px #9D95B3;
}
.sign >span, 
.sign >div{
    clear: left;
    white-space: nowrap;
}
.sign >div{
    clear: both;
}
.sign >span:after,
.sign >div:after:not(#pass_warning){
    content: ":";
}
.strong{
    font-weight: bold;
}
.taken{
    background-color: #e6e6e6;
}
.xtra{
    background-color: lightyellow;
}